/* Jonathan */

main {
    color:rgb(255, 255, 255);
    background-color: black;
    border: 2px solid #ffffff;
 }

 p {
margin:10px;
 }

 #varg {
   height: auto;
   width: 465px;
 }

 body {
  background-color: rgb(66, 66, 243);
 }